
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AdminView
<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <script src="../js/vendor/jquery-3.5.1.min.js"></script>
    
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Administrador</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                    <a class="nav-link active" href="#">Productos <span class="sr-only">(current)</span></a>
            </li>
                <li class="nav-item active">
                    <a class="nav-link " href="@Url.Action("Categorias", "Administrador")">Categoria <span class="sr-only">(current)</span></a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Clientes", "Administrador")">Clientes</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Pedidos", "Administrador")">Pedidos</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("Usuarios", "Administrador")">Usuarios</a>
                </li>
        </ul>
    </div>
</nav>
    <div><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar</button></div>
   <br>
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Precio</th>
                 <th>Estado</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Productos)
            {
                <tr>
                    <td scope="col">@item.ProductoId</td>
                    <td scope="col">@item.Nombre</td>
                    <td scope="col">@item.CategoriaId</td>
                    <td scope="col">@item.PrecioVenta</td>
                    @if (@item.Estado == "1") {
                        <td scope="col">Activo</td>
                    }
                    else{
                    <td scope="col">Inactivo</td> 
                    }
                        <td scope="col">@item.Codigo</td>
                    <td scope="col">@item.Descripcion</td>
                    <td scope="col">@item.Cantidad</td>
                    <td scope="col"><button value="@item.ProductoId" type="button" class="btn btn-warning editar">Editar</button></td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título del modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <p>Nombre</p>
                    <input type="text" class="border border-primary nombre">
                    <p>Categoria</p>
                    <select class="categoria">
                        <option class="form-control ">Escoge categoría</option>
                        @foreach (var item in Model.Categorias)
                        {
                            <option class="form-control" value="@item.CategoriaId">@item.Nombre</option>
                        }
                    </select>
                    <br>  <br>
                    <p>Precio</p>
                    <input type="text" class="border border-primary precio">
                    <p>Estado</p>
                    <select class="estado">
                        <option value="1" class="form-control categoria">Activo</option>
                        <option value="0" class="form-control categoria">Desactivado</option>
                    </select>
                    <br>  <br>
                    <p>Codigo</p>
                    <input type="text" class="border border-primary codigo">
                    <p>Descripcion</p>
                    <input type="text" class="border border-primary descripcion">
                    <p>Cantidad</p>
                    <input type="text" class="border border-primary cantidad">
                    <p>Imagen 1</p>
                    <input type="file" class="border border-primary imagen1">
                    <p>Imagen 2</p>
                    <input type="file" class="border border-primary imagen2">
                    <p>Imagen 3</p>
                    <input type="file" class="border border-primary imagen3">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary guardar">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="modalEditar" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Título del modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Nombre</p>
                    <input type="text" class="border border-primary nombreE">
                    <p>Categoria</p>
                    <select class="categoria">
                        <option class="form-control ">Escoge categoría</option>
                        @foreach (var item in Model.Categorias)
                        {
                            <option class="form-control" value="@item.CategoriaId">@item.Nombre</option>
                        }
                    </select>
                    <br>  <br>
                    <p>Precio</p>
                    <input type="text" class="border border-primary precioE">
                    <p>Estado</p>
                    <select class="estadoE">
                        <option value="1" class="form-control categoria">Activo</option>
                        <option value="0" class="form-control categoria">Desactivado</option>
                    </select>
                    <br>  <br>
                    <p>Codigo</p>
                    <input type="text" class="border border-primary codigoE">
                    <p>Descripcion</p>
                    <input type="text" class="border border-primary descripcionE">
                    <p>Cantidad</p>
                    <input type="text" class="border border-primary cantidadE">
                    <p>Imagen 1</p>
                    <input type="file" class="border border-primary imagen1E">
                    <p>Imagen 2</p>
                    <input type="file" class="border border-primary imagen2E">
                    <p>Imagen 3</p>
                    <input type="file" class="border border-primary imagen3E">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary guardarE">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    </body>

    </html>
    <script>
    $(document).ready(function(){
        $('#myTable').DataTable();
        $(".guardar").click(function () {
            var nombre=$('.nombre').val();
            var categoria = $('.categoria').val();
            var precio = $('.precio').val();
            var estado = $('.estado').val();
            var codigo = $('.codigo').val();
            var descripcion = $('.descripcion').val();
            var cantidad = $('.cantidad').val();
            $.ajax({
                url: "@Url.Action("GuardarProductos", "Administrador")", // URL de tu controlador y acción
                type: "POST", // Tipo de petición (GET, POST, etc.)
                dataType: "json", // Tipo de datos que esperas recibir (JSON en este caso)
                data: { nombre: nombre, categoria: categoria, precio: precio, estado: estado, codigo: codigo, descripcion: descripcion, cantidad: cantidad },
                success: function (data) {
                    if(data=="hola"){
                        alert("se guardaron");
                        window.location.reload();
                    }else{
                        alert("no se guardaron los datos");
                    }
                    // Manipular los datos recibidos en la respuesta
                   
                },
                error: function (xhr, status, error) {
                    // Manejar errores en caso de fallo en la petición AJAX
                    console.log(xhr.responseText);
                }
            });
        });

        $(".editar").click(function () {
            var id= $(this).val();
            alert(id);
            $.ajax({
                url: "@Url.Action("ADmin", "Administrador")", // URL de tu controlador y acción
                type: "POST", // Tipo de petición (GET, POST, etc.)
                dataType: "json", // Tipo de datos que esperas recibir (JSON en este caso)
                data: { id: id},
                success: function (data) {
                    console.log(data);
                     $('.nombreE').val(data['nombre']);
                     $('.categoriaE').val(data['categoriaId']);
                    $('.precioE').val(data['precioVenta']);
                    $('.estadoE').val(data['estado']);
                    $('.codigoE').val(data['codigo']);
                    $('.descripcionE').val(data['descripcion']);
                    $('.cantidadE').val(data['cantidad']);
                    $('.guardarE').val(data['productoId']);
                    $('#modalEditar').modal('show');
                },
                error: function (xhr, status, error) {
                    // Manejar errores en caso de fallo en la petición AJAX
                    console.log(xhr.responseText);
                }
            });
        });


        $(".guardarE").click(function () {
            var nombre = $('.nombreE').val();
            var categoria = $('.categoriaE').val();
            var precio = $('.precioE').val();
            var estado = $('.estadoE').val();
            var codigo = $('.codigoE').val();
            var descripcion = $('.descripcionE').val();
            var cantidad = $('.cantidadE').val();
            var id = $('.guardarE').val();
            $.ajax({
                url: "@Url.Action("GuardarProductos", "Administrador")", // URL de tu controlador y acción
                type: "POST", // Tipo de petición (GET, POST, etc.)
                dataType: "json", // Tipo de datos que esperas recibir (JSON en este caso)
                data: { nombre: nombre, categoria: categoria, precio: precio, estado: estado, codigo: codigo, descripcion: descripcion, cantidad: cantidad, id:id },
                success: function (data) {
                    if (data == "hola") {
                        alert("se guardaron");
                        window.location.reload();
                    } else {
                        alert("no se guardaron los datos");
                    }
                    // Manipular los datos recibidos en la respuesta

                },
                error: function (xhr, status, error) {
                    // Manejar errores en caso de fallo en la petición AJAX
                    console.log(xhr.responseText);
                }
            });
        });
        
    });
 
    </script>